body{
    padding: 0;
    margin:0;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1'); /* Duplicate the image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -1;
  }

.header{
    height: 200px;
    width: 100%;
    margin: 0px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:aliceblue;
    margin-top: -19px;
    background-image: url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1")
}
#head-title{
    margin: 0;
    color: aliceblue;
}
#link{
    margin-right: 100px;
    color: aliceblue;
    text-decoration: none;
    border:1px solid #000000;
    padding: 5px;
    border-radius: 12px;
}
.search-box{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    width: 60%;
    height: 30px;
    margin-top: -15px;
}
#input-box{
    width: 100%;
    height: 40px;
    padding-left: 40px;
    padding-right: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
    border-radius: 14px;
    box-sizing: border-box;
    outline: none;
}
.icon {
    position: relative;
    left: 23px;
}
#search-btn{
    position: relative;
    right: 60px;
    height: 27px;
    border: none;
    background-color:aliceblue;
    cursor: pointer;
    
}

#link:hover{
   color: rgb(26, 217, 100);
   border: 1px solid black;
   background-color: #000000;
   border-radius: 12px;
}
#background-text {
    display: flex;
    color: #0c292a;
    justify-content: center;
    margin-top: 200px;
    border: 2px solid rgb(21, 9, 33);
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
}
.movie{
    width: 90%;
    margin: 10px;
    display: flex;
    background: #fff;
    border: 1px solid #000000;
}
.image{
    width: 180px;
    height: 230px;
}

.textInfo{
    margin-left: 10px;
    font-size: 14px;
}
.watchlist-btn{
    cursor: pointer;
}
.watchlist-btn :hover{
    background-color: brown;
    color: #fff;
}
#watchlist-backkground-text{
    display: flex;
    color: #000000;
    justify-content: center;
    margin-top: 200px;
    border: 2px solid rgb(21, 9, 33);
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    margin-right: 50px;
}
#fetching-error{
    display: flex;
    color: #0c292a;
    justify-content: center;
    margin-top: 200px;
    border: 2px solid rgb(21, 9, 33);
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
}